body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/014/857/287/original/illustration-graphic-of-orochimaru-eye-s-in-naruto-free-vector.jpg);
    background-size: 100%;
}

header{
    display: flex;
    min-height: 70px;
    background-color:cadetblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-1{
    height: 50px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:black;
}

nav a{
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover{
    color:red;
}

@media (max-width:700px){
    header{
        flex-direction:column;
    }
    nav{
        padding: 10 px 0px;
    }
} 

h1{
    text-align: center;
}

p{
    text-align: center;
}